/*TOGGLER STYLLES */
.toggler{
  background: #EFEFEF;
  transition: 1s background;
  border: 1px solid grey;
  width: 64px;
  height: 32px;
  .switch{
  width: 32px;
  height: 32px;
  background: #666;
  transition: 1s margin-left;
  margin-left: 0;
  }
  &.checked{
    background: green;
    .switch{
      margin-left: 32px;
    }
  }
}
/* END TOGGLER STYLES*/
