body,
html {
  height: 100%;
}

body {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,2989d8+50,207cca+51,7db9e8+100;Blue+Gloss+Default */
  background: #1e5799;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=  '#1e5799', endColorstr='#7db9e8',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
}

.main-title{
  font-family: 'Pacifico', cursive;
  color: white;
  font-size: 60px;
  text-shadow: 2px 2px 0px black;
  animation-name: spin3d;
  animation-duration: 3s;
}

#settings {
  position: fixed;
  top: 100vh;
  transition: 0.5s top;
  background: #666666;
  border: 1px solid #333;
  min-height: 100vh;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 95%;
  margin: 0 auto;

  label {
    text-transform: uppercase;
    text-shadow: 1px 1px 3px rgba(70,70,70,0.5);
  }

  ul {
    padding: 0;
    margin: 0;

    li {
      list-style: none;
      border-bottom: 1px solid #444;
    }
  }

  input,
  select {
    display: block;
  }

  &.expanded {
    top: 3px;
    position: absolute;
  }
}

.centered{
  text-align: center;
}

.div-modal {
  .header {
    position: relative;
    height: 34px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffb76b+0,ffa73d+50,ff7c00+51,ff7f04+100;Orange+Gloss */
    background: #ffb76b;
    /* Old browsers */
    background: -moz-linear-gradient(top, #ffb76b 0%, #ffa73d 50%, #ff7c00 51%, #ff7f04 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffb76b 0%,#ffa73d 50%,#ff7c00 51%,#ff7f04 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffb76b 0%,#ffa73d 50%,#ff7c00 51%,#ff7f04 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=  '#ffb76b', endColorstr='#ff7f04',GradientType=0 );
    /* IE6-9 */
    p {
      font-size: 18px;
      text-transform: uppercase;
      font-weight: bolder;
      text-align: center;
      line-height: 32px;
      color: white;
      text-shadow: 1px 2px 5px rgba(0,0,0,0.85);
    }

    .minimize {
      width: 32px;
      height: 32px;
      position: absolute;
      right: 2px;
      top: 1px;
      color: white;
      line-height: 32px;
      font-size: 30px;
      text-align: center;
      border-radius: 50%;
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#959595+0,0d0d0d+46,010101+50,0a0a0a+53,4e4e4e+76,383838+87,1b1b1b+100;Black+Gloss+Pipe */
      background: #959595;
      /* Old browsers */
      background: -moz-linear-gradient(-45deg, #959595 0%, #0d0d0d 46%, #010101 50%, #0a0a0a 53%, #4e4e4e 76%, #383838 87%, #1b1b1b 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(-45deg, #959595 0%,#0d0d0d 46%,#010101 50%,#0a0a0a 53%,#4e4e4e 76%,#383838 87%,#1b1b1b 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(135deg, #959595 0%,#0d0d0d 46%,#010101 50%,#0a0a0a 53%,#4e4e4e 76%,#383838 87%,#1b1b1b 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=  '#959595', endColorstr='#1b1b1b',GradientType=1 );
      /* IE6-9 fallback on horizontal gradient */
    }
  }

  .body {
    margin: 10px;
  }
}

.spinIn {
  animation-name: spinIn;
  animation-duration: 2s;
}


@keyframes spinIn {
  from {
    transform: rotate(270deg) scale(0.5,0.5);
    transform-origin: 50% 50%;
    opacity: 0.01;
  }

  to {
    transform: rotate(0deg)  scale(1,1);
    transform-origin: 50% 50%;

  }
}
@keyframes spin3d {
  from{
    transform: rotate3d(1, 1, 1, 180deg);
  }
  to{
    transform: rotate3d(0, 0, 0, 0deg);
  }
}

/*Buttons */
input[type="button"]{
  background: #ff9447;
  border: 1px solid grey;
  padding: 10px;
  text-transform: uppercase;
  color: white;
}
/*END BUTTONS */
